<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KeyChain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>327C225B1DDADA22002EDE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327C22741DDADA22002EDE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>327C227F1DDADA22002EDE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
